page-home {
  ion-slide{
    .container{
      height: 100vh;
      width: 100vw;
      padding: 10px;
      display: flex;
      justify-content: center; /* align horizontal */
      align-items: center;
    }
    img{
      width: auto;
      height: auto;
    }
  }

  @mixin slowmo {
    -webkit-transition: background-color 3s ease-out;
    -moz-transition: background-color 3s ease-out;
    -o-transition: background-color 3s ease-out;
    transition: background-color 3s ease-out;
  }
  .left{
    height: 100vh;
    width: 33vw;
    top: 0;
    left: 0;
    position: absolute;
    background: transparent;

  }
  .center{
    height: 100vh;
    width: 33vw;
    top: 0;
    right: 33vw;
    position: absolute;
    background: transparent;
  }

  .right{
    height: 100vh;
    width: 33vw;
    top: 0;
    right: 0;
    position: absolute;
    background: transparent;
  }

  .white{
    background-color: white !important;
    @include slowmo;
  }
  .red{
    background-color: red !important;
    @include slowmo;
  }
  .blue{
    background-color: lightblue !important;
    @include slowmo;
  }
  .green{
    background-color: lightgreen !important;
    @include slowmo;
  }
  .yellow{
    background-color: yellow !important;
    @include slowmo;
  }
  .orange{
    background-color: orange !important;
    @include slowmo;
  }
  .cyan{
    background-color: cyan !important;
    @include slowmo;
  }
  .fuchsia{
    background-color: fuchsia !important;
    @include slowmo;
  }
  .indigo{
    background-color: lightpink !important;
    @include slowmo;
  }
}
